{% extends 'blog/base.html' %}
{% load static %}
{% block page_header %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{{object.thumbnail.url}}')">
        <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="site-heading">
                                <h3>{{object.title}}</h3>
                                <span class="subheading">{{object.publish}}</span>
                            </div>
                        </div>
                    </div>
        </div>
    </header>
{% endblock %}
{% block main %}
    <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>
                            {% if object.is_special %}
                                {% if request.user.is_authenticated and request.user.is_superuser or request.user.is_special_user or object.auth == request.user %}
                                    {{object.description|linebreaks}}
                                {% else %}
                                    <p>این مقاله ویژه است و برای مشاهده آن باید<a href="#">اشتراک ویژه</a> تهیه کنید </p>
                                {% endif %}
                            {% else %}
                                {{object.description|linebreaks}}
                            {% endif %}
                        </p>
                        <p>
                            Placeholder text by
                            <a href="http://spaceipsum.com/">Space Ipsum</a>
                            &middot; Images by
                            <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>
{% endblock %}